/* Logo style rules */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 4px;

}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
    padding-top: 10px;
}

/* Menu style rules */
.nav-bar {
    overflow: hidden;
}

.nav-bar a {
    float: right;
    color: #252525;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #e9f5f9;
    color: black;
}

.nav-bar a.active {
    background-color: yellow;
    color: black;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}

/*About Caras kitchen */
#about {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-left: 12.5%;
    border-right: 12.5%;
}

#about-text {
    width: 75%;
    border: 1px solid grey;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

#signature {
    font-family: 'Dancing Script', cursive;
    padding-top: 50px;
    padding-right: 100px;
    text-align: right;
    font-size: 200%;

}

/*Lead Image*/
.about-ck {
    position: relative;
}

#lead-image {
    height: 200px;
    width: 75%;
    background: url(../images/lead-image.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


#lead-text-ck {
    font-size: 200%;
    position: absolute;
    bottom: 40px;
    right: 300px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/*Favourite Recipes*/
.favourites {
    position: relative;
}

#favourites-image {
    height: 200px;
    background: url(../images/favourites-image.jpg);
    background-size: cover;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#favourites-text {
    font-size: 200%;
    position: absolute;
    bottom: 40px;
    left: 300px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.fave-flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.favourite-dishes {
    width: auto;
    max-height: 250px;
    margin: 10px;
    padding: 20px;
    position: relative;
}

/* Mouseover text descriptions for favourite dishes */
.title-one {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.chicken-burger-favourite:hover .title-one {
    opacity: 1;
}

/* footer styling*/

footer {
    height: 50px;
    padding-top: 50px;
}

.social-media-links {
    text-align: center;
}

.social-media-links>li {
    display: inline;
    font-size: 200%;
    margin: 10px;
    padding: 30px;
}

.social-media-links>i {
    font-size: 200%;
    margin: 10px;
    padding: 20px;
}

/*Recipes*/
.recipes-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
}

.recipes {
    width: auto;
    max-height: 250px;
    margin: 10px;
    padding: 20px;
    position: relative;
}
/* chicken burger recipe */
.flex-container-recipe-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-ingredients-method{
    display:flex;
    align-items: center;
    justify-content: center;
}
.ingredients {
    display: block;
    position: relative;
    float: left;
    border-style: solid;
    border-color: #3a3a3a;
    padding-left: 20px;
    margin-left: 25%;
    overflow: hidden; 

}
.equipment {
    display: block;
    position: relative;
    float: right;
    border-style: solid;
    border-color: #3a3a3a;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 25%;
    overflow: hidden;
}
.method {
    display: block;
    border-style: solid;
    border-color: #3a3a3a;
    width: auto;
    padding-left: 20px;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
    overflow: hidden;
    clear: both;
    text-align: center;
}
.instructions-title{
    text-align: center;
}

ol > li::marker {
    font-weight: bold;
  }