/* Logo style rules */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 4px;
    color: #252525;
}
h2 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 4px;
    color:#e9f5f9;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* Menu style rules */
.topnav {
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #252525;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #e9f5f9;
    color: black;
}

.topnav a.active {
    background-color: yellow;
    color: black;
}

/*About Caras kitchen */
#about {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-left: 12.5%;
    border-right: 12.5%;
}

#about-text {
    width: 75%;
    border: 1px solid grey;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#signature {
    font-family: 'Dancing Script', cursive;
    padding-top: 50px;
    padding-right: 100px;
    text-align: right;
    font-size: 200%;

}

#lead-image {
    height: 200px;
    width: 75%;
    background: url(../images/lead-image.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#lead-about{
    color: #e9f5f9;
}
#lead-text-ck{
    font-size: 200%;
    position: relative;
    float: right;
    padding-top: 50px;
    padding-right: 200px;
    margin: auto;
}